{% extends 'axf/base.html' %}
{% load static from staticfiles %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css'%}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'home/js/home.js' %}"></script>
{% endblock linkscript %}
{% block base %}
    <div id="home">
    <!--轮播-->
    <section class="swiper-container swiper-container-horizontal" id="topSwiper">
        <div class="swiper-wrapper">
            {% for item in wheelsList %}
                <div class="swiper-slide">
                    <a href="#"><img src="{{ item.img }}"></a>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
    </section>
    </div>
{% endblock base %}